input[type="submit"] {
  background: #4aaaa5;
  display: block;
  border: none;
  color: white;
  font-size: 14px;
  padding: 14px 32px;
}

.form-container p {
  font-size: 16px;
  margin-bottom: 10px;
}

form input {
  margin-bottom: 12px;
  padding: 12px;
  width: 100%;
}

textarea {
  margin-bottom: 15px;
  width: 100%;
}

input:focus {
  outline-color: #4aaaa5;
}

#contact-form:focus {
  outline-color: #4aaaa5;
}